n8n-flows/DEMO-ALL-PLATFORMS.json
{
  "name": "AI Inbox Platform - Production Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger_manual",
      "name": "Platform Orchestrator",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 1000]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'gmail', from: 'sarah.chen@acmecorp.io', subject: 'Q1 Budget Allocation Review', content: 'Need to finalize Q1 budget allocations across engineering, product, and operations. Board meeting scheduled for next week. Please prepare department forecasts and resource requests.', timestamp: new Date().toISOString(), messageId: 'msg_gmail_001', threadId: 'thread_001' },\n  { platform: 'gmail', from: 'marcus.williams@venturecap.com', subject: 'Series B Term Sheet Discussion', content: 'Following up on our call. Our partners are ready to move forward with the Series B term sheet. Valuation aligned at $45M pre-money. Can we schedule due diligence kickoff?', timestamp: new Date().toISOString(), messageId: 'msg_gmail_002', threadId: 'thread_002' },\n  { platform: 'gmail', from: 'talent@techrecruit.io', subject: 'VP Engineering Candidates - Final Round', content: 'Three exceptional VP Engineering candidates ready for final round. All have 12+ years experience scaling infrastructure at unicorns. Availability this week for executive interviews.', timestamp: new Date().toISOString(), messageId: 'msg_gmail_003', threadId: 'thread_003' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_gmail",
      "name": "Gmail Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 800]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'linkedin', from: 'Jennifer Park - Head of Partnerships @ Stripe', content: 'Saw your recent product launch. Our partnerships team is interested in exploring integration opportunities. Would love to connect and discuss potential collaboration paths.', timestamp: new Date().toISOString(), messageId: 'msg_linkedin_001', profileUrl: 'https://linkedin.com/in/jenniferpark' },\n  { platform: 'linkedin', from: 'David Kumar - Principal @ Sequoia Capital', content: 'Impressive growth trajectory. Our team has been tracking your metrics. Would be great to have an informal conversation about your fundraising plans and market expansion strategy.', timestamp: new Date().toISOString(), messageId: 'msg_linkedin_002', profileUrl: 'https://linkedin.com/in/davidkumar' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_linkedin",
      "name": "LinkedIn Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 920]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'slack', from: 'Alex Chen', channel: 'engineering-platform', content: 'Production deployment scheduled for 23:00 UTC. Database migrations prepared. Service mesh config updated. Rollback procedures verified. All teams notified.', timestamp: new Date().toISOString(), messageId: 'msg_slack_001', channelId: 'C01ABC123' },\n  { platform: 'slack', from: 'Maria Rodriguez', channel: 'product-strategy', content: 'Customer feedback analysis complete. Top feature requests: advanced analytics dashboard, mobile app improvements, API rate limit increases. Prioritization workshop scheduled for Friday.', timestamp: new Date().toISOString(), messageId: 'msg_slack_002', channelId: 'C02DEF456' },\n  { platform: 'slack', from: 'James Wilson', channel: 'executive-team', content: 'Board deck finalized. Key metrics: 127% revenue growth, 94% retention, 2.1M ARR. Strategic initiatives outlined. Presenting competitive analysis and market positioning next Thursday.', timestamp: new Date().toISOString(), messageId: 'msg_slack_003', channelId: 'C03GHI789' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_slack",
      "name": "Slack Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1040]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'whatsapp', from: '+1-555-0142', content: 'Board meeting agenda confirmed. Financial projections reviewed. Need updated cap table and hiring plan before Thursday. Please prioritize.', timestamp: new Date().toISOString(), messageId: 'msg_whatsapp_001', contactName: 'Robert Chen - Lead Investor' },\n  { platform: 'whatsapp', from: '+1-555-0198', content: 'Client demo went exceptionally well. They want to move forward with enterprise contract. Legal reviewing terms. Estimated ACV $240K. Next steps: security audit and technical integration call.', timestamp: new Date().toISOString(), messageId: 'msg_whatsapp_002', contactName: 'Emma Thompson - VP Sales' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_whatsapp",
      "name": "WhatsApp Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1160]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'telegram', from: '@techfounder_alex', content: 'Infrastructure scaling discussion. Current k8s cluster hitting 78% capacity. Proposal: migrate to multi-region setup, implement edge caching, optimize database queries. Cost analysis attached.', timestamp: new Date().toISOString(), messageId: 'msg_telegram_001', chatId: 'chat_001' },\n  { platform: 'telegram', from: '@productlead_sam', content: 'User research insights ready. Conducted 47 interviews across enterprise and SMB segments. Key findings: authentication flows need simplification, reporting features underutilized, mobile experience critical.', timestamp: new Date().toISOString(), messageId: 'msg_telegram_002', chatId: 'chat_002' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_telegram",
      "name": "Telegram Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1280]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'sms', from: '+1-555-0199', content: 'Reminder: Board meeting tomorrow at 9 AM. Please review the financial projections and bring your department updates. See you there!', timestamp: new Date().toISOString(), messageId: 'msg_sms_001' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_sms",
      "name": "SMS Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1400]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'instagram', from: '@techmedia_daily', content: 'Hey! Love your AI Smart Inbox product. Our tech media outlet reaches 250K followers. Would you be interested in being featured in our next spotlight series?', timestamp: new Date().toISOString(), messageId: 'msg_instagram_001' },\n  { platform: 'instagram', from: '@startupfunder_vc', content: 'Impressive product demo! Our venture fund specializes in AI/automation startups. Would love to schedule a call to discuss funding opportunities.', timestamp: new Date().toISOString(), messageId: 'msg_instagram_002' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_instagram",
      "name": "Instagram Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1520]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\n  { platform: 'twitter', from: '@paulg', content: 'Interesting approach to unified inbox. Have you considered expanding to support async video messages? That could be huge for remote teams.', timestamp: new Date().toISOString(), messageId: 'msg_twitter_001' }\n];\nreturn messages.map(m => ({json: m}));"
      },
      "id": "ingest_twitter",
      "name": "X Twitter Message Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 1640]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge_ingestion",
      "name": "Ingestion Stream Aggregator",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [700, 1040]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  const normalized = {\n    source: data.platform,\n    sender: data.from,\n    subject: data.subject || `Message from ${data.platform}`,\n    body: data.content,\n    userId: '69591a844af32f96fbcd5506',\n    rawMetadata: {\n      messageId: data.messageId,\n      threadId: data.threadId,\n      channelId: data.channelId,\n      profileUrl: data.profileUrl,\n      contactName: data.contactName,\n      timestamp: data.timestamp\n    }\n  };\n  return { json: normalized };\n});"
      },
      "id": "normalize_schema",
      "name": "Schema Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 1040]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  // Simple hash function for demo purposes\n  const simpleHash = (str) => {\n    let hash = 0;\n    for (let i = 0; i < str.length; i++) {\n      const char = str.charCodeAt(i);\n      hash = ((hash << 5) - hash) + char;\n      hash = hash & hash;\n    }\n    return Math.abs(hash).toString(16) + '0000000000000000';\n  };\n  const identityHash = simpleHash(data.sender + data.source).substring(0, 16);\n  \n  return {\n    json: {\n      ...data,\n      identity: {\n        senderHash: identityHash,\n        platform: data.source,\n        isVerified: ['gmail', 'linkedin'].includes(data.source),\n        contactType: data.sender.includes('@') ? 'email' : 'handle'\n      }\n    }\n  };\n});"
      },
      "id": "identity_resolver",
      "name": "Identity Resolution Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 1040]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  const processingTimestamp = new Date().toISOString();\n  // Simple hash function for demo purposes\n  const simpleHash = (str) => {\n    let hash = 0;\n    for (let i = 0; i < str.length; i++) {\n      const char = str.charCodeAt(i);\n      hash = ((hash << 5) - hash) + char;\n      hash = hash & hash;\n    }\n    return Math.abs(hash).toString(16) + '0000000000000000';\n  };\n  const messageFingerprint = simpleHash(data.body + data.sender).substring(0, 32);\n  \n  return {\n    json: {\n      ...data,\n      context: {\n        receivedAt: data.rawMetadata.timestamp,\n        processedAt: processingTimestamp,\n        messageFingerprint: messageFingerprint,\n        platformMetadata: {\n          source: data.source,\n          messageId: data.rawMetadata.messageId,\n          threadId: data.rawMetadata.threadId\n        }\n      }\n    }\n  };\n});"
      },
      "id": "context_enrichment",
      "name": "Context Enrichment Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 1040]
    },
    {
      "parameters": {
        "jsCode": "const intentKeywords = {\n  meeting: ['meeting', 'schedule', 'call', 'discussion', 'presentation', 'demo'],\n  financial: ['budget', 'revenue', 'funding', 'investment', 'ARR', 'valuation', 'term sheet'],\n  technical: ['deployment', 'infrastructure', 'migration', 'database', 'API', 'scaling'],\n  hiring: ['candidate', 'interview', 'talent', 'hiring', 'recruitment'],\n  partnership: ['partnership', 'collaboration', 'integration', 'strategic'],\n  product: ['feature', 'roadmap', 'user research', 'feedback', 'analytics']\n};\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const bodyLower = data.body.toLowerCase();\n  \n  let detectedIntent = 'general';\n  let maxMatches = 0;\n  \n  for (const [intent, keywords] of Object.entries(intentKeywords)) {\n    const matches = keywords.filter(kw => bodyLower.includes(kw)).length;\n    if (matches > maxMatches) {\n      maxMatches = matches;\n      detectedIntent = intent;\n    }\n  }\n  \n  return {\n    json: {\n      ...data,\n      intelligence: {\n        intent: detectedIntent,\n        intentConfidence: maxMatches > 0 ? Math.min(0.95, 0.5 + (maxMatches * 0.15)) : 0.3\n      }\n    }\n  };\n});"
      },
      "id": "intent_classifier",
      "name": "Intent Classification Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 900]
    },
    {
      "parameters": {
        "jsCode": "const urgentKeywords = ['urgent', 'asap', 'immediately', 'critical', 'deadline', 'today', 'tonight', 'emergency'];\nconst importantKeywords = ['board', 'investor', 'CEO', 'executive', 'strategic', 'revenue', 'funding', 'series'];\nconst businessKeywords = ['meeting', 'proposal', 'contract', 'partnership', 'deal', 'client', 'customer'];\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const bodyLower = data.body.toLowerCase();\n  const subjectLower = data.subject.toLowerCase();\n  const combinedText = bodyLower + ' ' + subjectLower;\n  \n  let priorityScore = 50;\n  \n  if (urgentKeywords.some(kw => combinedText.includes(kw))) priorityScore += 30;\n  if (importantKeywords.some(kw => combinedText.includes(kw))) priorityScore += 25;\n  if (businessKeywords.some(kw => combinedText.includes(kw))) priorityScore += 15;\n  if (['gmail', 'linkedin'].includes(data.source)) priorityScore += 10;\n  if (data.identity.isVerified) priorityScore += 10;\n  \n  priorityScore = Math.min(100, priorityScore);\n  \n  return {\n    json: {\n      ...data,\n      intelligence: {\n        ...data.intelligence,\n        priorityScore: priorityScore,\n        priorityLevel: priorityScore >= 80 ? 'critical' : priorityScore >= 60 ? 'high' : priorityScore >= 40 ? 'medium' : 'low'\n      }\n    }\n  };\n});"
      },
      "id": "priority_scoring",
      "name": "Priority Scoring Algorithm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 1020]
    },
    {
      "parameters": {
        "jsCode": "const businessIndicators = ['proposal', 'contract', 'partnership', 'investor', 'funding', 'revenue', 'client', 'customer', 'enterprise', 'strategic'];\nconst personalIndicators = ['dinner', 'family', 'weekend', 'personal', 'home', 'friend'];\n\nreturn $input.all().map(item => {\n  const data = item.json;\n  const combinedText = (data.body + ' ' + data.subject).toLowerCase();\n  \n  const businessMatches = businessIndicators.filter(ind => combinedText.includes(ind)).length;\n  const personalMatches = personalIndicators.filter(ind => combinedText.includes(ind)).length;\n  \n  const category = businessMatches > personalMatches ? 'business' : personalMatches > 0 ? 'personal' : 'neutral';\n  const confidence = Math.min(0.95, 0.5 + (Math.max(businessMatches, personalMatches) * 0.12));\n  \n  return {\n    json: {\n      ...data,\n      intelligence: {\n        ...data.intelligence,\n        category: category,\n        categoryConfidence: confidence\n      }\n    }\n  };\n});"
      },
      "id": "category_detection",
      "name": "Business Category Detector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 1140]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge_intelligence",
      "name": "Intelligence Stream Merger",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1800, 1020]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  const priority = data.intelligence.priorityScore;\n  const intent = data.intelligence.intent;\n  const category = data.intelligence.category;\n  \n  let action = 'queue';\n  let reasoning = [];\n  \n  if (priority >= 80) {\n    action = 'escalate';\n    reasoning.push('Critical priority score detected');\n  } else if (priority >= 60 && ['financial', 'partnership', 'meeting'].includes(intent)) {\n    action = 'notify';\n    reasoning.push('High priority with actionable intent');\n  } else if (category === 'personal' && priority < 50) {\n    action = 'archive';\n    reasoning.push('Personal message with low business priority');\n  } else {\n    action = 'queue';\n    reasoning.push('Standard processing workflow');\n  }\n  \n  return {\n    json: {\n      ...data,\n      decision: {\n        action: action,\n        reasoning: reasoning,\n        confidence: 0.87,\n        decidedAt: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "id": "action_router",
      "name": "Action Decision Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 1020]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n  \n  const finalPayload = {\n    messageId: data.context.messageFingerprint,\n    userId: data.userId,\n    source: data.source,\n    sender: data.sender,\n    subject: data.subject,\n    body: data.body,\n    identity: data.identity,\n    context: data.context,\n    intelligence: data.intelligence,\n    decision: data.decision,\n    metadata: {\n      processedAt: new Date().toISOString(),\n      schemaVersion: '2.1.0',\n      pipelineVersion: 'production-v3'\n    }\n  };\n  \n  return { json: finalPayload };\n});"
      },
      "id": "payload_builder",
      "name": "Final Payload Constructor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 1020]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4001/api/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "dispatch_endpoint",
      "name": "Backend Dispatch Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2460, 1020]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "response_validator",
      "name": "Response Validation Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2680, 1020]
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().length;\nreturn [{\n  json: {\n    status: 'success',\n    messagesProcessed: total,\n    timestamp: new Date().toISOString(),\n    pipeline: 'production',\n    successRate: 1.0\n  }\n}];"
      },
      "id": "success_logger",
      "name": "Success Metrics Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 920]
    },
    {
      "parameters": {
        "jsCode": "const total = $input.all().length;\nreturn [{\n  json: {\n    status: 'failure',\n    messagesProcessed: total,\n    timestamp: new Date().toISOString(),\n    pipeline: 'production',\n    errorType: 'dispatch_failed'\n  }\n}];"
      },
      "id": "failure_logger",
      "name": "Failure Metrics Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 1120]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge_observability",
      "name": "Observability Aggregator",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [3120, 1020]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst executionSummary = {\n  pipelineStatus: 'completed',\n  totalMessages: results.length,\n  executionTime: '1847ms',\n  successfulDispatches: results.filter(r => r.json.status === 'success').length,\n  failedDispatches: results.filter(r => r.json.status === 'failure').length,\n  timestamp: new Date().toISOString(),\n  version: 'v3.2.1'\n};\n\nreturn [{ json: executionSummary }];"
      },
      "id": "execution_summary",
      "name": "Execution Summary Reporter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 1020]
    }
  ],
  "connections": {
    "Platform Orchestrator": {
      "main": [
        [
          { "node": "Gmail Message Collector", "type": "main", "index": 0 },
          { "node": "LinkedIn Message Collector", "type": "main", "index": 0 },
          { "node": "Slack Message Collector", "type": "main", "index": 0 },
          { "node": "WhatsApp Message Collector", "type": "main", "index": 0 },
          { "node": "Telegram Message Collector", "type": "main", "index": 0 },
          { "node": "SMS Message Collector", "type": "main", "index": 0 },
          { "node": "Instagram Message Collector", "type": "main", "index": 0 },
          { "node": "X Twitter Message Collector", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gmail Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 0 }]]
    },
    "LinkedIn Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 1 }]]
    },
    "Slack Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 0 }]]
    },
    "WhatsApp Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 1 }]]
    },
    "Telegram Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 0 }]]
    },
    "SMS Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 1 }]]
    },
    "Instagram Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 0 }]]
    },
    "X Twitter Message Collector": {
      "main": [[{ "node": "Ingestion Stream Aggregator", "type": "main", "index": 1 }]]
    },
    "Ingestion Stream Aggregator": {
      "main": [[{ "node": "Schema Normalizer", "type": "main", "index": 0 }]]
    },
    "Schema Normalizer": {
      "main": [[{ "node": "Identity Resolution Engine", "type": "main", "index": 0 }]]
    },
    "Identity Resolution Engine": {
      "main": [[{ "node": "Context Enrichment Processor", "type": "main", "index": 0 }]]
    },
    "Context Enrichment Processor": {
      "main": [
        [
          { "node": "Intent Classification Engine", "type": "main", "index": 0 },
          { "node": "Priority Scoring Algorithm", "type": "main", "index": 0 },
          { "node": "Business Category Detector", "type": "main", "index": 0 }
        ]
      ]
    },
    "Intent Classification Engine": {
      "main": [[{ "node": "Intelligence Stream Merger", "type": "main", "index": 0 }]]
    },
    "Priority Scoring Algorithm": {
      "main": [[{ "node": "Intelligence Stream Merger", "type": "main", "index": 1 }]]
    },
    "Business Category Detector": {
      "main": [[{ "node": "Intelligence Stream Merger", "type": "main", "index": 0 }]]
    },
    "Intelligence Stream Merger": {
      "main": [[{ "node": "Action Decision Router", "type": "main", "index": 0 }]]
    },
    "Action Decision Router": {
      "main": [[{ "node": "Final Payload Constructor", "type": "main", "index": 0 }]]
    },
    "Final Payload Constructor": {
      "main": [[{ "node": "Backend Dispatch Service", "type": "main", "index": 0 }]]
    },
    "Backend Dispatch Service": {
      "main": [[{ "node": "Response Validation Gate", "type": "main", "index": 0 }]]
    },
    "Response Validation Gate": {
      "main": [
        [{ "node": "Success Metrics Logger", "type": "main", "index": 0 }],
        [{ "node": "Failure Metrics Logger", "type": "main", "index": 0 }]
      ]
    },
    "Success Metrics Logger": {
      "main": [[{ "node": "Observability Aggregator", "type": "main", "index": 0 }]]
    },
    "Failure Metrics Logger": {
      "main": [[{ "node": "Observability Aggregator", "type": "main", "index": 1 }]]
    },
    "Observability Aggregator": {
      "main": [[{ "node": "Execution Summary Reporter", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3.2.1",
  "meta": {
    "instanceId": "ai-inbox-platform-production"
  }
}